<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ngratzi.nicecatchtiger">

    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="21"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logop"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"

        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity"
            android:theme = "@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportPage1"
            android:theme = "@style/Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReportPage2"
            android:screenOrientation="portrait"
            android:theme = "@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".ReportPage3"
            android:theme = "@style/Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".SucessSubmit"
            android:screenOrientation="portrait"/>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAF7oKO5s02Dsdk1CKxFiJCBNyZGJ2Peno" />

        <activity
            android:name=".info"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
